<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top task</title>
</head>
<body>
  <div>
    <p th:text="${task.getName()}">VALUE</p>
  </div>
  <form th:method="POST" th:action="@{/tasks/execute}">
      <input type="submit" value="Execute task">
  </form>
  <form th:method="POST" th:action="@{/tasks/cancel}">
      <input type="submit" value="Cancel task">
  </form>
  <form th:method="POST" th:action="@{/tasks/postpone}">
      <input type="submit" value="Postpone task">
  </form>
  <div>
      <a href="/tasks/new">Create new task</a>
  </div>
</body>
</html>